/** body **/
body
{
	margin: 0;
	padding: 0;
	background: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
}
/** content page **/
.content_wrapper
{
	width: 980px;
	margin: 0 auto;
	display: block;	
}
/** bookmarker block **/
.content_wrapper .bookmarker_block
{
	overflow: hidden;
	width: 100%;
	height: 430px;
	background: url('../../../images/template/default/bookmarker_background.png') no-repeat;
}
.bookmarker_block #heading
{
	font-size: 2em;
	font-weight: lighter;
	text-shadow:  2px 2px #3e3e3e;
	margin: 25px 0 5px 0;
	color: #FFFFFF;
	text-align: center;
	font-style: italic;
}
.bookmarker_block #intro
{
	text-align: center;
	text-shadow:  1px 1px #3e3e3e;
	width: 800px;
	margin: auto;
	color: #FFFFFF;
	font-size: 0.8em;
}
/** booker list **/
.booker_list
{
	width: 100%;
	margin: 15px auto;
	text-align: center;
}
.booker_list > ul
{
	margin: 0;
	padding: 0;
}
/** booker item **/
.booker_list li.booker_item
{
	display: inline-block;
	width: 160px;
	height: 240px;
	margin: 5px;
	background: #FFFFFF;
	vertical-align: middle;
	border-radius: 8px;
	cursor: pointer;
}
.booker_list li.featured
{
	width: 180px;
	height:270px;
}
.booker_logo img
{
	width: 160px;
	height: 48px;
}
.booker_bonus
{
	box-shadow: 1px 1px 10px 1px #888888 inset;
	text-align:center;
	height: 48px;
}
.booker_bonus > ul
{
	margin: 2px auto;
	padding: 6px;
}
.booker_bonus > ul > li
{
	display: inline-block;
	vertical-align: middle;
}
.booker_bonus span.bonus
{
	color: #212121;	
	font-size: 30px;
	font-weight: bolder;
	vertical-align: middle;
	margin: auto;
}
.booker_bonus span.label
{
	font-size: 14px;
}
.booker_description
{
	color: #8d8d8d;
	font-size: 10px;
	padding: 5px 5px 5px 5px;
	overflow: hidden;
	height: 20px;
}
.description_list
{
	padding: 10px 2px 0 25px;
	list-style-type: disc;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
}
.claim_submit
{
	margin-top: 5px;
	padding-top: 15px;
	height: 42px;
	vertical-align: middle;
	font-weight: bold;
	color: #FFFFFF;
}
.claim_submit:hover
{
	color: #fd8f23;
}
.claim_1
{
	background: url("../../../images/template/default/claim_1.png") no-repeat;
}
.claim_2
{
	background: url("../../../images/template/default/claim_2.png") no-repeat;
}
.claim_3
{
	background: url("../../../images/template/default/claim_3.png") no-repeat;
}
.claim_4
{
	background: url("../../../images/template/default/claim_4.png") no-repeat;
}
.claim_5
{
	background: url("../../../images/template/default/claim_5.png") no-repeat;
}
/** booker item featured **/
li.featured .booker_logo img
{
	width: 180px;
}
li.featured .claim_3
{
	background: url("../../../images/template/default/claim_3_featured.png") no-repeat;
}
li.featured .booker_bonus
{
	height: 56px;
}
li.featured .booker_bonus span.bonus
{
	color: #ffa303;	
	font-size: 40px;
	font-weight: bolder;
	vertical-align: middle;
	margin: auto;
}
li.featured .booker_bonus span.label
{
	color: #ffa303;	
	font-size: 16px;
}
li.featured .booker_description
{
	font-size: 12px;
	height: 26px;
}
li.featured .description_list
{
	font-size: 11px;
}
li.featured .claim_submit
{
	padding-top: 20px;
}
/* article */
.content_wrapper .article
{
	background: url('../../../images/template/default/article_background.png') repeat-y;
	width: 100%;
	height: auto;
}
.article table
{
	padding-top: 20px;
}
.article .two_column
{
	width: 45%;
	height: 500px;
	vertical-align: top;
}
.article .article_title a
{
	font-weight: bolder;
	font-size: 22px;
	color: #001e3a;
	margin: 10px;
	text-decoration: none;
}
.article .article_title a:hover
{
	color: #ffa303;
}
.article .article_description
{
	font-size: 14px;
	color:#004b20;
	text-align: justify;
	font-weight: bold;
	margin-bottom: 15px;
}
.article .article_content
{
	font-size: 0.8em;
	text-align: justify;
}
.article .two_column .article_image img
{
	width: 450px;
	margin: 10px auto;
	display: block;
	border-radius: 5px;
}
.article .viewmore
{
	width:144px;
	margin: 10px;
	background: url('../../../images/template/default/viewmore.png') no-repeat;
	height: 30px;
}
.article .viewmore:hover
{
	background: url('../../../images/template/default/viewmore_hover.png') no-repeat;
}
.article .viewmore a
{
	display: block;
}
.article .one_column .article_image img
{
	width: 930px;
	height:112px;
	margin: 10px auto;
	display: block;
	border-radius: 5px;
}