.header
{
	width: 980px;
	height: 70px;
	margin: 0 auto;
	background: url('../images/header.png') repeat-x;
	position: relative;
	clear: both;
	line-height: 60px;
}
.header .site_logo
{
	float: left;
}
.header .site_logo a
{
	display: block;
	padding: 12px;
}

.header img
{
	height: 40px;
}
.header .domain_name
{
	float: right;
	font-weight: bold;
	right: 20px;
	position: absolute;
}

.header .domain_name a
{
	text-decoration: none;
	color: #ffffff;
}

.header .domain_name a:hover
{
	color: #ff6600;
}
